@font-face {
	font-family: Mohave;
	src: url('../fonts/Mohave.otf') format("opentype");
}

@font-face {
	font-family: Mohave;
	font-family: bold;
	src: url('../fonts/Mohave-Bold.otf') format("opentype");
}

@font-face {
	font-family: Mohave;
	font-family: italic;
	src: url('../fonts/Mohave.otf Italics') format("opentype");
}

@font-face {
	font-family: Lovelo;
	src: url('../fonts/Lovelo Black.otf') format("opentype");
}

@font-face { 
	font-family: 'Mohave'; 
	/*src: url('font/path/mohave.eot');*/
	src: url('font/path/mohave.eot?#iefix') format('embedded-opentype'), url('font/path/mohave.svg#Mohave') format('svg'), url('font/path/mohave.woff') format('woff'), url('font/path/mohave.ttf') format('truetype'); 
	font-weight: normal; 
	font-style: normal;
}